@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div>
    @using (Ajax.BeginForm("AjaxTest", new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "results" }))
    {
        <input type="submit" id="results" value="Launch" />
    }
</div>